# Python:
*.py[cod]
*.egg
# 忽略Logs
logs
*.log
# 忽略out
*.out
# 忽略/dist目录，相对.gitignore文件所在目录
__pycache__
bta/envs/hanabi/build/
results
/results/
*.pyc
/gifs/
/out/
/__pycache__/
build
win_rate
*.so
*.csv
RODE
*.egg-info
wandb
.vscode
api
.nfs*
*.so
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
